.mouse {
  width: 100px;
  height: 100px;
  background: url(../src/images/mouse.png) center no-repeat;
  background-size: contain;
  position: absolute;
}

.cat {
  width: 150px;
  height: 150px;
  position: absolute;
  transition: ease-out top 1s, ease-out left 1s;
}

.cat__front {
  background: url(../src/images/hotpng.com.png) center no-repeat;
  background-size: contain;
}

.cat__rare {
  background: url(../src/images/rare.png) center no-repeat;
  background-size: contain;
}

.app {
  height: 100%;
  background: yellowgreen;
}
